/* Type whatever CSS you need here! */

/* placeholder for previous exercises done with inline coding */


.student-present {

    display: flexbox;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 250px;
    background-color: #b2ff46;
    border: 1px solid black;

}

.student-absent {

    display: flexbox;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 250px;
    background-color: #ff5d46;
    border: 1px solid black;

}

.dollar-line {

    color: #80ce13;
    font-size: 40px;

}

#restaurant-holder {
    background-color: white;
    border: 1.5px solid black;
    display: flex;
    flex-direction: row;
}

.rest-holder {

    margin: auto;
    background-color: #dfdfdf;

}

/* For renderMovies .. Was attempting to use flex and class of 'titleholder' to get the title and release date joined together closer
.. in the interest of time, moving on. */


.movie-holder {

    background-color: #b7b7b7;
    display: flex;
    width: max-content;
    flex-direction: row;
    margin: 1.5em;
}

.poster-holder {

    margin: 1.2em;
}

/* not completely sure of this negative margin.. trying to close gap between title and date*/
.title-holder {

    margin-bottom: -1em;
}

.movie-data {

    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #dcdcdc;
    margin: 1.1em;
    padding: 1em;
}

h5 {
    font-size: 22px;
    font-weight: 50;
}

h6 {
    font-size: 15px;
}

/****************************************************************************************************/

.tweet-holder {

    display: flex;

}

.user-cluster {

    display: flex;
}

.veri-check {

    width: 20px;
    height: 20px;

}

.prof-pics {

    width: 40px;
    height: 40px;

}